<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>学生管理系统</title>
<style>
a {
	text-decoration: none;
}

.user-info {
	float: right;
	margin: 10px 30px;
}

table {
	width: 100%;
}

table td {
	text-align: center;
}

.add-stu {
	float: left;
	margin: 10px 30px;
}
</style>

</head>
<body>
	<div class="user-info">
		<span th:text="${session.userInfo.userName}"></span> <a
			th:href="@{/logout.do}">注销</a>
	</div>
	<div>
		<a th:href="@{/toAddStuPage.do}"
			class="add-stu">添加学生</a>
		<table cellpadding="10" cellspacing="0" border="1">
			<tr>
				<th>学号</th>
				<th>姓名</th>
				<th>所在系</th>
				<th>专业</th>
				<th>修改</th>
				<th>删除</th>

			</tr>
				<tr th:if="${stus == null}">
					<td colspan="7">没有学生信息</td>
				<tr>

					<tr th:if="${stus != null}" th:each="stu : ${stus}">
						<td th:text="${stu.stno}"></td>
						<td th:text="${stu.name}"></td>
						<td th:text="${stu.dept}"></td>
						<td th:text="${stu.course}"></td>
						<td><a th:href="@{/updateStuPage.do(id=${stu.id })}">修改</a></td>
						<td><a class="deleteBtn" th:href="@{/deleteStu.do(id=${stu.id })}">删除</a></td>
					</tr>
				</c:forEach>
			</c:if>
		</table>
	</div>
	<script type="text/javascript"
		th:src="@{/js/jquery3.4.1.js}"></script>
	<script type="text/javascript">
		$(".deleteBtn").click(function name() {
			var name = $(this).parent().parent().children("td").eq(1).html()
			if (!confirm("确定删除 " + name + " 吗？")) {
				return false
			}
		})
	</script>
</body>
</html>